body {background-image: url('https://i.pinimg.com/736x/7a/58/c3/7a58c3e9f38c2f850032fd8476e9616c.jpg');}
h1{color:black; text-align: center;}
h2{background-color:lavender; color: black; text-align: center}
li{background-color:lavender; color: black;}
